<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% posts=["パイナップル","apple"] %>

<% posts.each do |post| %>
    <%=post %>
<% end %>

<%=@sagwa%>

<p>データベースからcontent</p>
<ol>
<% @post.each do |post| %>
    <li><%= post.content %></li>
<% end %>
</ol>

<p>@post1[1]で定義したやつ</p>
<%=@post1.content %>
